/* CONTENT */
.wrapper {
	display: block;
	margin: 0 auto;
	padding: 0;
	overflow: visible;
}

.bgLightGray {
	background: #e1e1e1;
}

.containerExtended {
	max-width: 1540px;
	margin: 0 auto;
}

.content {
	display: block;
	margin: 0 auto;
	padding: 0;
	max-width: 1200px;
	overflow: visible;
}

.boxTextContent > * {
	margin-top: 28px;
}

.boxTextContent > :first-child {
	margin-top: 0;
}



.artigosBox {
	max-width: 388px;
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
}

.artigosBox img {
	width: 388px;
}


.artigoDescricao {
	background: #e1e1e1;
	padding: 40px;
}

.artigoDescricao h4 {
	color: #AC6356;
}

.artigoBarra {
	border: 1px solid rgba(0, 0, 0, 0.1);
	margin-top: 26px;
}

.galeriaDeImagens {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin-right: -8px;

}

.galeriaDeImagens a {
	width: calc(25% - 8px);
	margin: 0 8px 8px 0;
}

/* FOOTER */
.footer {
	background-image: linear-gradient(to right, #ff77b5 0%, #fec76c  100%);
}

.footer .hr {
	height: 1px;
	color: #fff;
	display: block;
}

.footer {
	font-weight: 700;
}

.footer ul li:hover {
	color: #fff;
}

.footer .finalInfo .logoIlex:hover svg {
	opacity: 1;
}



/* BOX PAGINAÇÃO */
.boxPagination {
	font-family: sans-serif;
	text-align: center;
}

.boxPagination .page {
	padding: 10px 9px;
	font-weight: 500;
	font-size: 20px;
	line-height: 0.8;
	text-align: center;
	color: #0084c8;
}

.boxPagination .page.actual {
	font-size: 22px;
	font-weight: 700;
	color: #3eb54a;
}

.boxPagination .page.prevNextLast {
	font-size: 28px
}